.cover__link {
    min-height: 90vh;
    background-image: url(../../../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    position: relative;
    z-index: 0;
}

.cover__link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.cover__link:hover::before {
    opacity: 0.8;
}


