.header__contact-link {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    text-align: right;
    margin: 0 0 0 18px;
    padding: 0;
}

.header__contact-link:active {
    text-decoration: underline;
}

@media screen and (max-width: 320px) {
    .header__contact-link {
        font-size: 18px;
        line-height: 20px;
    }
}