.cover__subtitle {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.6;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .cover__subtitle {
        font-size: 18px;
}
}
