.cover__subtitle {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    white-space: pre-line;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
    }
}